.core_payment_gateways_modal .mollie .icon {
    height: 60px;
    width: auto;
}
.paygw_mollie-payment-methods .paymentmethod input[type="radio"] {
    display: none;
}
.paygw_mollie-payment-methods .paymentmethod input[type="radio"] + label {
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.paygw_mollie-payment-methods .paymentmethod input[type="radio"]:checked + label {
    background-color: #ddd;
    border: 1px solid #080;
}