<div style="text-align: center;">
    <button class="btn btn-primary"
        data-action="mollie-startpayment"
        data-component="{{component}}"
        data-paymentarea="{{paymentarea}}"
        data-description="{{{description}}}"
        data-itemid="{{itemid}}"
    >{{#str}}startpayment, paygw_mollie{{/str}}</button>
</div>
